h2{
    text-align: center;
}
h4{
    color: #778282 ;
    text-align: center;  
    font-size: medium;
    font-family:'Trebuchet MS', sans-serif;
    font-weight: 200;
}
h5{
    text-align: center;
    font-size:smaller;
    font-weight: 100;
}
h3{
    text-align: center;
    font-size:large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}
p{
    color:black;
    width: 600;
    font-size: small;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}







